<!DOCTYPE html>
<html>
  <head>
    <%= yield(:fb_properties) %>
    
    <%= stylesheet_link_tag "application_audioplayer_1", media: "all", "data-turbolinks-track" => false %>

     <%= javascript_include_tag "application_audioplayer_1", "data-turbolinks-track" => false %>
    
    <script>
    // var canvas, stage, exportRoot;
    // $(function(){  
      // $(".accord > .trackmenu").hide().parent().hover(function(event) {
      //   $(this).children(".trackmenu").slideToggle(event.type === "mouseenter");
      // });

    // $(".accordion > div").hide().parent().hover(function(event) {
    //   $(this).children("div").slideToggle(event.type === "mouseenter");
    // });
  // });

    function init() {
      // canvas = document.getElementById("canvas");
      // images = images||{};

      // var loader = new createjs.LoadQueue(false);
      // loader.addEventListener("fileload", handleFileLoad);
      // loader.addEventListener("complete", handleComplete);
      // loader.loadManifest(lib.properties.manifest);

      selectAudioTrack();

      $("[rel='tooltip']").tooltip();
      
    }

    // function handleFileLoad(evt) {
    //   if (evt.item.type == "image") { images[evt.item.id] = evt.result; }
    // }

    // function handleComplete() {
    //   exportRoot = new lib.modul_a();

    //   stage = new createjs.Stage(canvas);
    //   stage.addChild(exportRoot);
    //   stage.update();

    //   createjs.Ticker.setFPS(lib.properties.fps);
    //   createjs.Ticker.addEventListener("tick", stage);
    // }
    function selectAudioTrack() {
      <% if @track_id.present? && @track_id.to_i > 0 %>
        var trackID = <%= @track_id.to_i - 1 %>;
      <% else %>
        return false;
      <% end %>
      api_loadAudio(hap_players[0],trackID);
      return false;
    }  
    </script>

    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title><%= yield(:title) %></title>
    <!-- <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->

    <!-- <title>Narrow Jumbotron Template for Bootstrap</title> -->


</head>
<body role="document" onload="init();">

  <%= yield %>
  <%= render 'layouts/fullscreen_api' %>
</body>
</html>