<!DOCTYPE html>
<html>
  <head>
    <%= yield(:fb_properties) %>
    <link rel="stylesheet" type="text/css" href="/assets/audioplayer/jquery.jscrollpane.css" media="all" /><!-- scroll in playlist -->
        <link rel="stylesheet" type="text/css" href="/assets/audioplayer/jquery.selectbox.css" /><!-- playlist selector dropdown --> 
        <link rel="stylesheet" type="text/css" href="/assets/audioplayer/html5audio_default.css" />
    <link rel="stylesheet" type="text/css" href="/assets/audioplayer/html5audio_playlist_selector.css" />

    
    

    <%= stylesheet_link_tag "narrow2", media: "all", "data-turbolinks-track" => true %>

     <script type="text/javascript" src="/assets/audioplayer/swfobject.js"></script><!-- flash backup --> 
        <script type="text/javascript" src="/assets/audioplayer/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/assets/audioplayer/jquery-ui-1.10.3.custom.min.js"></script><!-- jquery ui sortable/draggable -->
        <script type="text/javascript" src="/assets/audioplayer/jquery.ui.touch-punch.min.js"></script><!-- mobile drag/sort -->
        <script type="text/javascript" src="/assets/audioplayer/jquery.XDomainRequest.js"></script><!-- ofm ie9 and below fix -->
        <script type="text/javascript" src="/assets/audioplayer/jquery.mousewheel.min.js"></script><!-- scroll in playlist -->
        <script type="text/javascript" src="/assets/audioplayer/jquery.jscrollpane.min.js"></script><!-- scroll in playlist -->
        <script type="text/javascript" src="/assets/audioplayer/id3-minimized.js"></script><!-- id3 tags -->
        <script type="text/javascript" src="https://www.youtube.com/player_api"></script><!-- youtube -->
        <script type="text/javascript" src="/assets/audioplayer/jquery.apYoutubePlayer.min.js"></script><!-- youtube -->
        <script type="text/javascript" src="/assets/audioplayer/jquery.apPlaylistManager.min.js"></script>
        <script type="text/javascript" src="/assets/audioplayer/jquery.apTextScroller.min.js"></script><!-- scrollable song name -->
        <script type="text/javascript" src="/assets/audioplayer/jquery.html5audio.min.js"></script>
        <script type="text/javascript" src="/assets/audioplayer/jquery.html5audio.func.js"></script>
     <script type="text/javascript" src="/assets/audioplayer/jquery.html5audio.settings_playlist_selector.js"></script>

    <script src="/assets/canvas/easeljs-0.7.0.min.js"></script>
    <script src="/assets/canvas/tweenjs-0.5.0.min.js"></script>
    <script src="/assets/canvas/movieclip-0.7.0.min.js"></script>
    <script src="/assets/canvas/preloadjs-0.4.0.min.js"></script>
    <script src="/assets/canvas/modul_a.js"></script>

    <script>
    var canvas, stage, exportRoot;

    function init() {
      canvas = document.getElementById("canvas");
      images = images||{};

      var loader = new createjs.LoadQueue(false);
      loader.addEventListener("fileload", handleFileLoad);
      loader.addEventListener("complete", handleComplete);
      loader.loadManifest(lib.properties.manifest);

      selectAudioTrack();
    }

    function handleFileLoad(evt) {
      if (evt.item.type == "image") { images[evt.item.id] = evt.result; }
    }

    function handleComplete() {
      exportRoot = new lib.modul_a();

      stage = new createjs.Stage(canvas);
      stage.addChild(exportRoot);
      stage.update();

      createjs.Ticker.setFPS(lib.properties.fps);
      createjs.Ticker.addEventListener("tick", stage);
    }
    function selectAudioTrack() {
      <% if @track_id.present? && @track_id.to_i > 0 %>
        var trackID = <%= @track_id.to_i - 1 %>;
      <% else %>
        return false;
      <% end %>
      api_loadAudio(hap_players[0],trackID);
      return false;
    }  
    </script>

    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title><%= yield(:title) %></title>
    <!-- <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->

    <!-- <title>Narrow Jumbotron Template for Bootstrap</title> -->

<script type="text/javascript">
//<![CDATA[
  (function() {
    var shr = document.createElement('script');
    shr.setAttribute('data-cfasync', 'false');
    shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
    shr.type = 'text/javascript'; shr.async = 'true';
    shr.onload = shr.onreadystatechange = function() {
      var rs = this.readyState;
      if (rs && rs != 'complete' && rs != 'loaded') return;
      var site_id = 'f84feaa2da3098eff3dcdd7de942dddc';
      try { Shareaholic.init(site_id); } catch (e) {}
    };
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(shr, s);
  })();
//]]>
</script>

</head>
<body role="document" onload="init();">
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=231311910390394";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <%= yield %>
  <%= render 'layouts/fullscreen_api' %>
</body>
</html>